<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Id='*'
        Name='aero-grep'
        UpgradeCode='DF54181B-5A9B-402A-9950-6273A7E8086F'
        Manufacturer='orapli'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package
            Id='*'
            Keywords='Installer'
            Description='Fast cross-project full-text search GUI'
            Manufacturer='orapli'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            SummaryCodepage='1252' />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.' />

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
        <Property Id='DiskPrompt' Value='aero-grep Installation' />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='aero-grep'>

                    <Component Id='License' Guid='BE397E17-32A1-4602-93C6-24297D63B008'>
                        <File Id='LicenseFile'
                            Name='LICENSE'
                            DiskId='1'
                            Source='LICENSE'
                            KeyPath='yes' />
                    </Component>

                    <Directory Id='Bin' Name='bin'>
                        <Component Id='binary0' Guid='987B7299-D676-4765-976B-206401CBF98A'>
                            <File Id='exe0'
                                Name='aero-grep.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\aero-grep.exe'
                                KeyPath='yes' />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id='ProgramMenuFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='aero-grep' />
            </Directory>
        </Directory>

        <DirectoryRef Id='ApplicationProgramsFolder'>
            <Component Id='ApplicationShortcut' Guid='99D23D51-C197-499D-9E03-043EE23984DD'>
                <Shortcut Id='ApplicationStartMenuShortcut'
                    Name='aero-grep'
                    Description='Fast cross-project full-text search GUI'
                    Target='[APPLICATIONFOLDER]bin\aero-grep.exe'
                    WorkingDirectory='APPLICATIONFOLDER' />
                <RemoveFolder Id='CleanUpShortcut'
                    Directory='ApplicationProgramsFolder'
                    On='uninstall' />
                <RegistryValue
                    Root='HKCU'
                    Key='Software\orapli\aero-grep'
                    Name='installed'
                    Type='integer'
                    Value='1'
                    KeyPath='yes' />
            </Component>
        </DirectoryRef>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='License' />
            <ComponentRef Id='binary0' />
            <ComponentRef Id='ApplicationShortcut' />
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize' />
        <Property Id='ARPHELPLINK' Value='https://github.com/orapli/aero-grep' />

        <UI>
            <UIRef Id='WixUI_Minimal' />
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf' />
    </Product>
</Wix>
